* {line-height: 30px;}
h1, h2 {background-color:#C4C4C4;
    color: #005677;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 700px;
    line-height: 84.69%;
    font-feature-settings: "cpsp";
    letter-spacing: 8px;
    }
h1 {text-align: center;
    margin: 0px;
}

h2 {font-size: 20px;}


header{background-color:#E6E6E6;}

div.imagen {text-align: center;}

footer {
    background-color: #005677 ;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
        
}
