@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {    font-family:'Roboto', sans-serif;
font-weight: 400;}

.descuento {
    background: #1CD1B0;
    font-size: 15px;
    height: 38px;
    left: 0px;
    line-height: 40px;
    top: 0px;
    width: 100%;
}

.title {
    background: #00669F;
    height: 101px;
    left: 0px;
    line-height: 92px;
    margin: 0px;
    top: 38px;
    width: 100%;
}

.card {
    background-color: #F3F3F3;
    display: inline-block;
    height: 527px;
    margin: 150px;
    position: relative;
    width: 300px;
}
.fondo {
    background-image: url(../img/fondobat.png);
    height: 193px;
    position: absolute;
    width: 300px;
}

.perfil {
    background-image: url(../img/logobat.png);
    border-radius: 50%;
    height: 120px;
    left: 90px;
    top: 132px;
    position: absolute;
    width: 120px;
    z-index: 2;
}

.corazon    {
    background-image: url(../img/corazon.png);
    height: 30px;
    left: 16px;
    position: absolute;
    top: 12px;
    width: 30px;
    z-index: 4;
    }

.titulo {
    font-size: 30px;
    height: 35px;
    left: 88px;
    line-height: 35px;   
    position: absolute;
    top: 260px;
    width: 122px;
}

.texto {
    font-size: 16px;
    height: 113px;
    left: 21px;    
    line-height: 19px;
    position: absolute;
    text-align: justify;
    top: 340px;
    width: 267px;
}

.boton {
    background: #00669F;
    bottom: 19px;
    height: 48.52px;
    left: 90px;
    position: absolute;
    text-align: center;
    width: 128.78px;
}

.mas {
    color: white;
}

.fondo2 {
    background-image: url(../img/fondoharley.png);
    height: 193px;
    position: absolute;
    width: 300px;
}

.perfil2 {
    background-image: url(../img/logoharley.png);
    border-radius: 50%;
    height: 120px;
    left: 90px;
    position: absolute;
    top: 132px;
    width: 120px;
    z-index: 2;
}

.pie  {
    background: #00669F;
    color: white;    
    height: 51px;
    position: relative;
    top: 100px;
    width: 100%;
     }

.derechos {
    padding: 20px 0px 0px 20px;   
}